body {
  margin: 5px 5px 5px 5px;
  padding: 15px 10px;
  background-color: rgb(230, 250, 250);
  text-align: center;
}
.menu {
  padding: 10px 70px;
  background: rgb(142, 223, 248);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  margin: 50px 0px 10px 0px;
  border-radius: 4px;
}
.logo {
  align-items: center;
  height: 100px;
  width: 100px;
}

.fale {
  margin: 10px 20px 5px 5px;
  width: 55px;
  height: 40px;
}

.produtos {
  margin: 5px;
  height: 600px;
  width: 700px;
}
.conosco {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px 5px 5px 5px;
  display: block;
  color: rgb(6, 6, 170);
}
.nome {
  margin-top: 30px;
  font-size: large;
  color: rgb(6, 6, 170);
}
.endereco {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: large;
  color: rgb(6, 6, 170);
}

.foto {
  margin-top: 50px;
  height: 600px;
  width: 700px;
}
